@model IEnumerable<WebApplication3.Models.Parrot>

@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Species)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breeder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deceased)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OldWorld)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewWorld)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breeder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deceased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldWorld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewWorld)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParrotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParrotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParrotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
